/* porducts  */
.main{
  margin-top: 0;
  background-color: rgb(233, 231, 142);
}
.headings{
  text-align: center;
  background-color: darkgray;
}
.headings h1{
  margin-top:0;
  margin-bottom: 0;
}
.main-display{
 
   display:flex;
}

.products{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 80%;
  background-color: rgb(250, 174, 161);
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  gap:10px;
  padding-top: 50px;
}

/* selected */
.selected{
  padding-left: 5px;
  position: sticky;
  top:0;
}
.selected h1{
  color:rgb(255, 72, 0);
}

.random-btn{
  padding: 10px 15px;
  color:black;
  background-color: tomato;
  border:none;
  font-weight: bold;
  border-radius: 5px;
}


/* responsive */
@media only screen and (max-width: 1200px ){
  .products{
    grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 1200px ){
  .main-display{
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media only screen and (max-width: 800px){
  .products{
    grid-template-columns: 1fr;
  }

}